body {
  color: #24292e;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body *,
body *:before,
body *:after {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .header .header__top__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}
.header .header__top__wrapper .logo {
  fill: #fff;
}
.header .header__top__wrapper .toggle {
  display: none;
}
@media (max-width: 768px) {
  .header .header__top__wrapper .toggle {
    display: block;
  }
}
.header .header__top__wrapper .toggle .bars {
  fill: currentColor;
  width: 24px;
  height: 24px;
}
.header .header__top__wrapper .notification {
  display: none;
}
@media (max-width: 768px) {
  .header .header__top__wrapper .notification {
    display: block;
  }
}
.header .header__top__wrapper .notification .noti {
  fill: #fff;
  width: 16px;
  height: 16px;
}
.header__container {
  width: 100%;
  color: #fff;
  background-color: #24292e;
  padding: 0.85rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__container {
    width: 100%;
    padding: 1rem 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__left {
  display: flex;
  align-items: center;
  flex: 1;
}
@media (max-width: 768px) {
  .header__left {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__left__list {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header__left__list {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__left .is-hamburger-open {
  padding-top: 1rem;
  display: flex;
}
.header__left__item {
  font-weight: 600;
  margin-right: 1rem;
}
@media (max-width: 768px) {
  .header__left__item {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    width: 100%;
    padding: 0.6rem 0;
  }
}
.header__right {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header__right {
    display: none;
  }
}
.header__right__item {
  margin-left: 1rem;
}
.header__right__new {
  display: flex;
  align-items: center;
}
.header__right__avatar {
  display: flex;
  align-items: center;
}
.header__right__avatar img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.header__right svg {
  fill: #fff;
}
.header__search {
  background-color: #24292e;
  border: 1px solid #444d56;
  margin: 0 1rem;
  padding: 4px 8px;
  position: relative;
  display: flex;
  border-radius: 6px;
  justify-content: space-between;
  width: 22%;
}
@media (max-width: 768px) {
  .header__search {
    display: none;
    width: 100%;
    margin: 0.8rem 0;
    margin-bottom: 1rem;
    padding: 5px 8px;
  }
}
.header__search input {
  padding: 0 4px;
  background-color: transparent;
  border: 0;
  color: #fff;
  flex: 1;
}
.header__search input::placeholder {
  color: #c8c9cb;
  font-size: 14px;
}
.header__search input:focus {
  outline: none;
}
.header__search .slash {
  height: 100%;
}

.subnav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  margin-top: 1.68rem;
  background-color: #fff;
}
.subnav__container {
  display: flex;
  border-bottom: 1px solid #eaecef;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (max-width: 768px) {
  .subnav__container {
    padding: 0 16px;
  }
}
.subnav__side {
  width: 25%;
  display: flex;
  align-items: center;
}
.subnav__side .show-vcard {
  transition: opacity 0.2s;
  opacity: 1;
  pointer-events: all;
}
.subnav__side__vcard {
  padding: 0 16px;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.subnav__side__vcard__image {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}
.subnav__side__vcard__content__name {
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  font-size: 14px;
}
.subnav__side__vcard__content .vcard-follow {
  padding: 0 8px;
  line-height: 1.5;
  font-size: 12px;
}
@media (max-width: 768px) {
  .subnav__side {
    display: none;
  }
}
.subnav__content {
  width: 75%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (max-width: 768px) {
  .subnav__content {
    width: 100%;
    padding: 0;
  }
}
.subnav__item {
  display: flex;
  padding: 8px 16px;
  cursor: pointer;
  align-items: center;
  color: #24292e;
  line-height: 30px;
  text-align: center;
  border-bottom: 2px solid transparent;
}
.subnav__item .badge {
  margin-left: 8px;
  border-radius: 2em;
  background-color: rgba(209, 213, 218, 0.5);
  padding: 0 6px;
  line-height: unset;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.subnav__item .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: #959da5;
}
@media (max-width: 768px) {
  .subnav__item .icon {
    display: none;
  }
}
.subnav__item:hover {
  border-bottom: 2px solid #d1d5d8;
}
.subnav__item__item--active {
  border-bottom: 2px solid #f9826c;
  font-weight: 600;
}
.subnav__item__item--active .icon {
  fill: #24292e;
}
.subnav__item__item--active:hover {
  border-bottom: 2px solid #f9826c;
}

.page-content {
  z-index: 5;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
}
@media (max-width: 768px) {
  .page-content {
    padding: 0 16px;
  }
}
@media (max-width: 768px) {
  .page-content {
    flex-direction: column;
  }
}
.page-content__right {
  width: 75%;
  padding-left: 16px;
  padding-right: 16px;
}
@media (max-width: 768px) {
  .page-content__right {
    width: 100%;
    padding: 0.4rem 0;
  }
}

.btn {
  width: 100%;
  text-align: center;
  border: 1px solid rgba(27, 31, 35, 0.15);
  line-height: 20px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  background-color: #fafbfc;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  padding: 5px 16px;
  font-weight: 500;
  border-radius: 6px;
  text-decoration: none;
}
.btn:hover {
  background-color: #f3f4f6;
}

.user-profile-desktop {
  width: 25%;
  padding: 0 16px;
}
@media (max-width: 768px) {
  .user-profile-desktop {
    display: none;
  }
}
.user-profile-desktop__section-box {
  margin: 1.2rem 0;
}
.user-profile-desktop__follow {
  width: 100%;
  text-align: center;
}
.user-profile-desktop__name {
  margin: 0;
  font-size: 26px;
  line-height: 1.3;
  color: #24292e;
  font-weight: 600;
}
.user-profile-desktop__username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #586069;
}
.user-profile-desktop__bio {
  font-size: 16px;
}
.user-profile-desktop__image {
  position: relative;
  margin-top: -32px;
  height: auto;
}
.user-profile-desktop__image img {
  cursor: pointer;
  border-radius: 50%;
  width: 100%;
}
.user-profile-desktop__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.user-profile-desktop__list-item svg {
  fill: #586069;
}
.user-profile-desktop__list-item span {
  margin-left: 5px;
}
.user-profile-desktop__stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #586069;
}
.user-profile-desktop__stats svg {
  fill: #586069;
  margin-right: 2px;
  width: 16px;
  height: 16px;
}
.user-profile-desktop__stats div {
  margin-right: 2px;
}
.user-profile-desktop__stats span {
  margin: 0 2px;
}
.user-profile-desktop__stats strong {
  color: #24292e;
  margin-right: 2px;
  font-weight: 600;
}
.user-profile-desktop__status {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 100%;
  margin-bottom: 32px;
  margin-left: -40px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #eaecef;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
  border-radius: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
}
.user-profile-desktop__status__box {
  width: 38px;
  min-width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile-desktop__status__text {
  transition: 0.3s;
  max-width: 0;
  overflow-x: hidden;
  white-space: nowrap;
  opacity: 0;
}
.user-profile-desktop__status:hover .user-profile-desktop__status__text {
  overflow-x: visible;
  opacity: 1;
  padding-right: 15px;
  max-width: 544px;
}

.user-profile-mobile {
  display: none;
}
@media (max-width: 768px) {
  .user-profile-mobile {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    display: block;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .user-profile-mobile {
    padding: 0 16px;
  }
}
.user-profile-mobile .mobile-profile-icon {
  width: 16px;
  fill: #6a737d;
}
.user-profile-mobile__follow {
  border-bottom: 1px solid #eaecef;
}
.user-profile-mobile__follow .btn {
  margin-bottom: 16px;
}
.user-profile-mobile__status {
  margin: 8px 0;
  border-radius: 6px;
  padding: 4px 10px;
  border: 1px solid #e1e4e8;
  line-height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.user-profile-mobile__status span {
  margin-left: 6px;
}
.user-profile-mobile__stats {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.user-profile-mobile__bio {
  font-size: 16px;
  margin-bottom: 16px;
}
.user-profile-mobile__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.user-profile-mobile__list-item svg {
  fill: #586069;
}
.user-profile-mobile__list-item span {
  margin-left: 5px;
}
.user-profile-mobile__details {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.user-profile-mobile__details__image {
  width: 16.6667%;
  height: auto;
  border-radius: 50%;
  margin-right: 16px;
}
.user-profile-mobile__details__content {
  padding: 16px 0;
}
.user-profile-mobile__details__content h2 {
  margin: 0;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.25;
}
.user-profile-mobile__details__content p {
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #586069;
}

.repositories {
  width: 100%;
}
.repositories__search {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #eaecef;
}
@media (max-width: 768px) {
  .repositories__search {
    flex-wrap: wrap;
  }
}
.repositories__search__box {
  margin-right: 16px;
  width: 100%;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #eaecef;
  border-radius: 6px;
  outline: none;
}
.repositories__search__btn {
  margin-left: 4px;
  width: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .repositories__search__btn {
    margin-left: 0;
    margin-top: 8px;
    margin-right: 4px;
  }
}

.repository-card {
  padding: 24px 0;
  border-bottom: 1px solid #eaecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.repository-card__left {
  flex: 1;
}
.repository-card__name {
  display: inline-block;
  color: #0366d6;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}
.repository-card__name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.repository-card__base {
  margin-top: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #586069;
}
.repository-card__base__language {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.repository-card__base__language__dot {
  margin-right: 4px;
  background-color: #f1e05a;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid rgba(27, 31, 35, 0.15);
}
.repository-card__description {
  width: 75%;
  color: #586069;
  margin-top: 6px;
}
.repository-card__star {
  font-size: 12px;
  line-height: 18px;
  color: #24292e;
  display: flex;
  align-items: center;
}
.repository-card__star svg {
  fill: #6a737d;
  margin-right: 4px;
}

.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (max-width: 768px) {
  .footer {
    padding: 0 16px;
  }
}
.footer__container {
  border-top: 1px solid #eaecef;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #586069;
  font-size: 12px;
}
@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__side {
  width: 41.66667%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer__side {
    width: 100%;
    margin-bottom: 8px;
    justify-content: center;
  }
}
.footer__side__item {
  color: #0366d6;
}
.footer__side__item--alt {
  color: inherit;
}
@media (max-width: 768px) {
  .footer__side__item {
    margin: 0 8px;
  }
}
.footer__center {
  margin: 0 24px;
}
.footer__center svg {
  fill: #d1d5da;
}
@media (max-width: 768px) {
  .footer__center {
    display: none;
  }
}

.page-loader {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  100% {
    transform: scale(1.3);
  }
}
.page-loader svg {
  display: block;
  animation: scale 1s infinite ease-in-out alternate;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.username-form {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .username-form {
    padding: 0 16px;
  }
}
.username-form__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f8fa;
  border: 1px solid #eaecef;
  width: 28rem;
  padding: 3rem;
  border-radius: 6px;
}
.username-form__input {
  border: 1px solid #eaecef;
  border-radius: 6px;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 32px;
}
.username-form__button {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  width: 100%;
  color: #fff;
  transition: 0.2s;
}
.username-form__button:hover {
  background-color: #2c974b;
}

/*# sourceMappingURL=style.css.map */
