@import "./variables";

body {
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    color: $textPrimary;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

.header {
    .header__top__wrapper {
        @include mobile {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            fill: #fff;
        }

        .toggle {
            display: none;
            @include mobile {
                display: block;
            }
            .bars {
                fill: currentColor;
                width: 24px;
                height: 24px;
            }
        }
        .notification {
            display: none;
            @include mobile {
                display: block;
            }
            .noti {
                fill: #fff;
                width: 16px;
                height: 16px;
            }
        }
    }

    &__container {
        width: 100%;
        color: $headerTextColor;
        background-color: $headerBg;
        padding: 0.85rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            width: 100%;
            padding: 1rem 1rem;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        flex: 1;

        @include mobile {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }

        &__list {
            display: flex;
            align-items: center;

            @include mobile {
                width: 100%;
                display: none;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .is-open {
            padding-top: 1rem;
            display: flex;
        }

        &__item {
            font-weight: 600;
            margin-right: 1rem;

            @include mobile {
                border-top: 1px solid hsla(0, 0%, 100%, 0.15);
                width: 100%;
                padding: 0.6rem 0;
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;

        @include mobile {
            display: none;
        }

        &__item {
            margin-left: 1rem;
        }

        &__new {
            display: flex;
            align-items: center;
        }

        &__avatar {
            display: flex;
            align-items: center;
            img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }

        svg {
            fill: $headerTextColor;
        }
    }

    &__search {
        background-color: $headerSearchBg;
        border: 1px solid $headerSearchBorder;
        margin: 0 1rem;
        padding: 4px 8px;
        position: relative;
        display: flex;
        border-radius: 6px;
        justify-content: space-between;
        width: 22%;

        @include mobile {
            display: none;
            width: 100%;
            margin: 0.8rem 0;
            margin-bottom: 1rem;
            padding: 5px 8px;
        }

        input {
            padding: 0 4px;
            background-color: transparent;
            border: 0;
            color: #fff;
            flex: 1;
            &::placeholder {
                color: #c8c9cb;
                font-size: 14px;
            }
            &:focus {
                outline: none;
            }
        }
        .slash {
            height: 100%;
        }
    }
}

.subnav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    margin-top: 1.68rem;
    background-color: #fff;

    &__container {
        display: flex;
        border-bottom: 1px solid $borderColor;
        @include page-padding;
    }

    &__side {
        width: 25%;
        display: flex;
        align-items: center;

        &__vcard {
            padding: 0 16px;
            display: flex;
            align-items: center;
            opacity: 0;

            pointer-events: none;

            &--show {
                transition: opacity 0.2s;
                opacity: 1;
                pointer-events: all;
            }

            &__image {
                width: 32px;
                height: 32px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 8px;
            }

            &__content {
                &__name {
                    font-weight: 600;
                    line-height: 1.25;
                    margin: 0;
                    font-size: 14px;
                }
                .vcard-follow {
                    padding: 0 8px;
                    line-height: 1.5;
                    font-size: 12px;
                }
            }
        }

        @include mobile {
            display: none;
        }
    }

    &__content {
        width: 75%;
        display: flex;
        align-items: center;
        overflow-x: auto;
        padding-left: 16px;
        padding-right: 16px;

        @include mobile {
            width: 100%;
            padding: 0;
        }
    }

    &__item {
        display: flex;
        padding: 8px 16px;
        cursor: pointer;
        align-items: center;
        color: $textPrimary;
        line-height: 30px;
        text-align: center;
        border-bottom: 2px solid transparent;

        .badge {
            margin-left: 8px;
            border-radius: 2em;
            background-color: rgba(209, 213, 218, 0.5);
            padding: 0 6px;
            line-height: unset;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
        }

        .icon {
            width: 16px;
            height: 16px;
            margin-right: 8px;
            fill: #959da5;

            @include mobile {
                display: none;
            }
        }

        &:hover {
            border-bottom: 2px solid #d1d5d8;
        }

        &__item--active {
            border-bottom: 2px solid #f9826c;
            font-weight: 600;

            .icon {
                fill: $textPrimary;
            }

            &:hover {
                border-bottom: 2px solid #f9826c;
            }
        }
    }
}

.page-content {
    z-index: 5;
    @include page-padding;
    display: flex;

    @include mobile {
        flex-direction: column;
    }

    &__right {
        width: 75%;
        padding-left: 16px;
        padding-right: 16px;

        @include mobile {
            width: 100%;
            padding: 0.4rem 0;
        }
    }
}

.btn {
    width: 100%;
    text-align: center;
    border: 1px solid rgba(27, 31, 35, 0.15);
    line-height: 20px;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
    background-color: $primaryBtn;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    padding: 5px 16px;
    font-weight: 500;
    border-radius: 6px;
    text-decoration: none;

    &:hover {
        background-color: #f3f4f6;
    }
}

.user-profile-desktop {
    width: 25%;
    padding: 0 16px;

    @include mobile {
        display: none;
    }

    &__section-box {
        margin: 1.2rem 0;
    }

    &__follow {
        width: 100%;
        text-align: center;
    }

    &__name {
        margin: 0;
        font-size: 26px;
        line-height: 1.3;
        font-weight: 600;
    }

    &__username {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        color: $textAlt1;
    }

    &__bio {
        font-size: 16px;
    }

    &__image {
        position: relative;
        margin-top: -32px;
        height: auto;
        img {
            cursor: pointer;
            border-radius: 50%;
            width: 100%;
        }
    }
    &__list-item {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        svg {
            fill: $textAlt1;
        }
        span {
            margin-left: 5px;
        }
    }

    &__stats {
        display: flex;
        align-items: center;
    }
    &__status {
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 100%;
        margin-bottom: 32px;
        margin-left: -40px;
        z-index: 2;

        background-color: #fff;
        border: 1px solid $borderColor;
        box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
        border-radius: 2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;

        &__box {
            width: 38px;
            min-width: 38px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__text {
            transition: 0.3s;
            max-width: 0;
            overflow-x: hidden;
            white-space: nowrap;
            opacity: 0;
        }

        &:hover &__text {
            overflow-x: visible;
            opacity: 1;
            padding-right: 15px;
            max-width: 544px;
        }
    }
}

.user-profile-mobile {
    display: none;

    @include mobile {
        @include page-padding;
        display: block;
    }

    .mobile-profile-icon {
        width: 16px;
        fill: #6a737d;
    }

    &__follow {
        border-bottom: 1px solid $borderColor;
        .btn {
            margin-bottom: 16px;
        }
    }

    &__status {
        margin: 8px 0;
        border-radius: 6px;
        padding: 4px 10px;
        border: 1px solid #e1e4e8;
        line-height: 20px;
        font-size: 12px;
        span {
            margin-left: 6px;
        }
    }

    &__stats {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    &__bio {
        font-size: 16px;
        margin-bottom: 16px;
    }

    &__list-item {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        svg {
            fill: $textAlt1;
        }
        span {
            margin-left: 5px;
        }
    }

    &__details {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        &__image {
            width: 16.6667%;
            height: auto;
            border-radius: 50%;
            margin-right: 16px;
        }

        &__content {
            padding: 16px 0;
            h2 {
                margin: 0;
                font-weight: 600;
                font-size: 26px;
                line-height: 1.25;
            }
            p {
                margin: 0;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: 24px;
                color: $textAlt1;
            }
        }
    }
}

.repositories {
    width: 100%;
    &__search {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid $borderColor;

        @include mobile {
            flex-wrap: wrap;
        }

        &__box {
            margin-right: 16px;
            width: 100%;
            padding: 5px 12px;
            font-size: 14px;
            line-height: 20px;
            border: 1px solid $borderColor;
            border-radius: 6px;
            outline: none;
        }

        &__btn {
            margin-left: 4px;
            width: auto;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            display: flex;
            align-items: center;

            @include mobile {
                margin-left: 0;
                margin-top: 8px;
                margin-right: 4px;
            }
        }
    }
}

.repository-card {
    padding: 24px 0;
    border-bottom: 1px solid $borderColor;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        flex: 1;
    }

    &__name {
        display: inline-block;
        color: $linkColor;
        font-weight: 600;
        font-size: 20px;
        margin: 0;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__base {
        margin-top: 16px;
        font-size: 12px;
        display: flex;
        align-items: center;
        color: $textAlt2;

        &__language {
            display: flex;
            align-items: center;
            margin-right: 16px;
            &__dot {
                margin-right: 4px;
                background-color: #f1e05a;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 1px solid rgba(27, 31, 35, 0.15);
            }
        }
    }

    &__description {
        width: 75%;
        color: $textAlt2;
        margin-top: 6px;
    }

    &__star {
        font-size: 12px;
        line-height: 18px;
        color: $textPrimary;
        display: flex;
        align-items: center;
        svg {
            fill: #6a737d;
            margin-right: 4px;
        }
    }
}

.footer {
    @include page-padding;
    &__container {
        border-top: 1px solid $borderColor;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
        padding-top: 40px;
        padding-bottom: 40px;
        color: $textAlt2;
        font-size: 12px;

        @include mobile {
            flex-direction: column;
        }
    }
    &__side {
        width: 41.66667%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include mobile {
            width: 100%;
            margin-bottom: 8px;
            justify-content: center;
        }

        &__item {
            color: $linkColor;

            &--alt {
                color: inherit;
            }

            @include mobile {
                margin: 0 8px;
            }
        }
    }
    &__center {
        margin: 0 24px;
        svg {
            fill: #d1d5da;
        }
        @include mobile {
            display: none;
        }
    }
}
